// *************************************
//
// Header
// -> Main site header
//
// *************************************

.Header {
  background-image: url("../img/img-header-bg.png");
  background-size: cover;
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// .Module--modifierName

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Contact bar ----- //

.Header-contact {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.5);
}

// ----- Contact bar ----- //

.Header-logo {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: rgba($c-black,0.25);
}

// ----- Nav bar ----- //

.Header-nav {
  @extend .u-gridRow;
  padding-bottom : $l-whiteSpace;
  padding-top    : $l-whiteSpace;
  background: $c-blue;
}

// ----- Carousel ----- //

.Header-carousel {
  @extend .u-gridRow;
  padding-bottom : ($l-whiteSpace * 4);
  padding-top    : ($l-whiteSpace * 4);
}

.Slider {
	visibility: hidden;
}
.headerwrapper{
  height: 288px;
  background:  url("../img/headerbackground.jpg") no-repeat;
  background-size: 100%;
}

.logo-wrapper{
  position: relative;

}
.logo-top{
position: absolute;
top: 30px;
width: 147px;
background: #fff;
padding: 1%;
border-top:#7bb3d7 5px solid;
}
.titleText{
  position: absolute;
  top: 130px;
  left: 161px;
  font-size: 14px;
}
// responsive --------------------------------------
@media all and (max-width: 640px) { 
  .titleText{
    top:115px;
  }
}
@media all and (max-width: 500px) { 
  .logo-top {
    width: 167px;
    margin-top: -22px;
  }
  .titleText{
    left:181px;
  }
}
@media all and (max-width: 419px) { 
    .titleText{
      top:94px; 
    } 
} 
@media all and (max-width: 351px) { 
    .titleText{
      top:74px; 
    } 
} 
@media all and (max-width: 320px) { 
   .titleText{
      top:90px; 
      left: 140px;
    } 
    .logo-top {
      width: 120px;
      margin-top: 23px;
    }
} 